# Ignorar todo dentro de target, excepto el JAR que vamos a empaquetar
target/*
!target/app.jar

# Archivos innecesarios
*.log
*.iml
*.swp
*.swo
*.pem
*.key

# IDEs
.idea/
.vscode/
*.iws
*.ipr

# STS, NetBeans, otros IDEs
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Git
.git
.gitignore

# Maven wrapper
.mvn/
.mvn/wrapper/maven-wrapper.jar

# Variables sensibles
.env
