# ❌ Archivos de entorno sensibles
.env
*.env

# ❌ Archivos de log y temporales
*.log
*.swp
*.swo

# ❌ Archivos del sistema / IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# ❌ Archivos de compilación
target/
build/
dist/

# ❌ Archivos específicos de Maven
.mvn/
.mvn/wrapper/maven-wrapper.jar

# ❌ Claves privadas y certificados
*.pem
*.key

# ❌ Archivos propios de Git
.git
.gitignore
.dockerignore
