# ❌ Archivos de entorno (sensibles)
.env
*.env

# ❌ Logs y archivos temporales
*.log
*.swp
*.swo

# ❌ Claves y certificados
*.pem
*.key

# ❌ Archivos del sistema / IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# ❌ Archivos específicos de herramientas de desarrollo
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
target/

# ✅ Permitir un JAR específico si es necesario
# !target/facturacion-0.0.1-SNAPSHOT.jar

# ❌ Maven wrapper y otros binarios
.mvn/
.mvn/wrapper/maven-wrapper.jar

# ❌ Archivos propios de Git
.git
.gitignore

